[submodule "external/ansible_role_proxy"]
	path = external/ansible_role_proxy
	url = https://github.com/gianet-us/ansible_role_proxy.git
	branch = main
  shallow = true

[submodule "external/ansible_role_main"]
	path = external/ansible_role_main
	url = https://github.com/gianet-us/ansible_role_mail.git
	branch = main
  shallow = true
